.form-search {
    display: flex;
    width: 100%;
  }
  
  .search {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search:focus {
    border-color: var(--primary-color);
  }
  
  .search-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background-color: var(--hover-color);
  }
  